body {
	background-color: #ffe4c4;
}

.wrapper {
	margin: 30px;
}

input {
	margin-bottom: 20px;
}

#tabs {
    overflow: auto;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
 
#tabs li {
    margin: 0;
    padding: 0;
    float: left;
	margin-left: 3px;
}
 
#tabs a {
    -moz-box-shadow: -3px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -3px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -3px 0 0 rgba(0, 0, 0, .2);
    background: #d00000;
    background:    -moz-linear-gradient(220deg, transparent 15px, #d00000 20px);
    background:    -webkit-linear-gradient(220deg, transparent 15px, #d00000 20px);
    background:     -ms-linear-gradient(220deg, transparent 15px, #d00000 20px);
    background:      -o-linear-gradient(220deg, transparent 15px, #d00000 20px);
    background:         linear-gradient(220deg, transparent 15px, #d00000 20px);
	border-radius: 5px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
	transition:all 0.8s ease;
} 
 
#tabs a:hover {
    background: #c93434;
    background:    -moz-linear-gradient(220deg, transparent 15px, #f00000 20px);
    background:    -webkit-linear-gradient(220deg, transparent 15px, #f00000 20px);
    background:     -ms-linear-gradient(220deg, transparent 15px, #f00000 20px);
    background:      -o-linear-gradient(220deg, transparent 15px, #f00000 20px);
    background:         linear-gradient(220deg, transparent 15px, #f00000 20px);
}
 
#tabs a:focus {
    outline: 0;
}
 
#tabs #current a {
    background: #f2e33b;
    background:    -moz-linear-gradient(220deg, transparent 15px, #f2e33b 20px);
    background:    -webkit-linear-gradient(220deg, transparent 15px, #f2e33b 20px);
    background:     -ms-linear-gradient(220deg, transparent 15px, #f2e33b 20px);
    background:      -o-linear-gradient(220deg, transparent 15px, #f2e33b 20px);
    background:         linear-gradient(220deg, transparent 15px, #f2e33b 20px);
    text-shadow: none;
    color: #504c25;
}
 
#content {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image:    -moz-linear-gradient(top, #fff, #ddd);
    background-image:     -ms-linear-gradient(top, #fff, #ddd);
    background-image:      -o-linear-gradient(top, #fff, #ddd);
    background-image:         linear-gradient(top, #fff, #ddd);
    -moz-border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    padding: 30px;
	text-align:justify;
	font-size:16px;
	font-family:Verdana, "Times New Roman";
	line-height:20px;
	text-indent:30px;
}
 
#content div {
    height: 100%;
}

label {
    display: inline-block;
	width: 5em;
}
  
.conteiner {
	position: relative;
}
  
.clarification {
	display: none;
	width: 200px;
	height: 30px;
	position: absolute;
	top: -5px;
	left: 240px;
	text-align:center;
	padding-top:6px;
    box-shadow: 0px 0px 2px 3px grey;
  }
  
form {
	text-indent:0px;
}